/* kertomerkin avulla nollataan CSS-määritykset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body kohdassa yleensä taustaväri ja fontti sekä sen väri */
body {
  background-color: rgb(255, 245, 241);
  font-family: "Open Sans Condensed", sans-serif;
  color: #333;
}

h1 {
  line-height: 32px;
  margin-bottom: 32px;
}
section {
  padding: 32px;
}

img {
  height: 200px;
  width: auto;
}

/* Header osa jossa myös nav eli valikon määrittely */

header {
  background: rgb(14, 13, 13);
  text-align: right;
}

nav ul {
  list-style-type: none;
}
header li {
  display: inline-block;
}

li:hover {
  background-color: rgb(79, 11, 238);
}

ul li a {
  padding: 20px;
  display: block;
  color: white;
  text-decoration: none;
}
