* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}
header {
  display: flex;
  color: white;
  background-color: #333;
  align-items: center;
  padding: 1rem;
}
.logo {
  flex: 3;
}
ul {
  display: flex;
  list-style-type: none;
  flex: 1;
}

a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem;
  margin: 1rem;
}

a:hover {
  border-bottom: 6px solid rgb(57, 82, 57);
}
main {
  display: flex;
  height: 100vh;
}
aside {
  background: rgb(57, 82, 57);
  display: flex;
  flex-direction: column;
  flex: 1;
}

section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  height: 100vh;
  background: rgb(139, 172, 145);
  align-content: flex-start;
  flex: 4;
}

.box {
  width: 150px;
  height: 150px;
  background-color: chocolate;
  color: white;
  text-align: center;
  border-radius: 5px;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
